@code {

    [Inject]
    public LinkGenerator Link { get; set; } = default!;

    [Parameter]
    public ContactEditViewModel Contact { get; set; } = new();

}

<PageTitle>Edit contacts</PageTitle>

<LayoutView Layout=typeof(MainLayout)>

    <div class="container my-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <a href="@Link.GetPathByName("Contacts")">
                    <i class="bi bi-person-lines-fill"></i> Contacts
                    </a>
                </li>
                <li class="breadcrumb-item">
                    @Contact.Name
                </li>
            </ol>
        </nav>
    </div>

    <div class="container">
        <form method="post" action="@Link.GetPathByName("Contacts.Update", new { Id = Contact.Id })" autocomplete="off">
            <div class="">
                <div class="mb-3">
                    <label class="form-label" for="Name">Name</label>
                    <input type="text" id="name" name="Name" value="@Contact.Name"
                           class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" name="Email" value="@Contact.Email"
                           class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="city">City</label>
                    <input type="text" id="city" name="City" value="@Contact.City"
                           class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="phone">Phone</label>
                    <input type="tel" id="phone" name="Phone" value="@Contact.Phone"
                           class="form-control">
                </div>
            </div>
            <div class="">
                @* <a href="@Link.GetPathByName("Contacts.Delete", new { Id = Contact.Id} )" class="text-red-500
                hover:underline">Delete Contact</a> *@
                <button class="btn btn-primary"
                        type="submit">
                    Update contact
                </button>
            </div>
            <AntiforgeryToken/>
        </form>
    </div>


</LayoutView>