@code {

    [Inject]
    public LinkGenerator Link { get; set; }

    [Parameter]
    public List<ContactListModel> Contacts { get; set; } = new();

}

<PageTitle>
    Contacts
</PageTitle>


<LayoutView Layout="typeof(MainLayout)">
    <div class="container my-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
                <li class="breadcrumb-item">
                    <i class="bi bi-person-lines-fill"></i> Contacts
                </li>
            </ol>
        </nav>
    </div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>Phone</th>
            <th></th>
        </tr>
        @if (Contacts.Count <= 0)
        {
            <tr >
                <td colspan="5">No contacts with that name found.</td>
            </tr>
        }
        @foreach (var contact in Contacts)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.Email</td>
                <td>@contact.City</td>
                <td>@contact.Phone</td>
                <td>
                    <a class="btn btn-light btn-xs" href="@Link.GetPathByName("Contacts.Edit", new { id = contact.Id })">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                </td>
            </tr>
        }
    </table>

</LayoutView>